<footer class="footer-block bg-black" style="background-image: url(./assets/assets/images/footer-bg.png);">
  <div class="container">
      <!-- footer-top-block -->
      <div class="footer-top-block yellow-theme">
          <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="widget widget_about">
                      <div class="widget-about-content">
                          <img src="./assets/Final Taxi.png" />
                      </div><!-- /.widget-content -->
                  </div><!-- /.widget widget_about -->
              </div><!-- /.col-md-3 -->
              <div class="col-md-2 col-sm-6">
                  <div class="widget widget_menu">
                      <h3 class="widget-title">
                          Useful link
                      </h3><!-- /.widget-title -->
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#"> Get a cab</a></li>
                          <li><a href="#">Our car</a></li>
                          <li><a href="#">Contact page</a></li>
                      </ul>
                  </div><!-- /.widget -->
              </div><!-- /.col-md-3 -->

              <div class="col-md-3 col-sm-6">
                  <div class="widget widget_hot_contact">
                      <h3 class="widget-title">
                          Hot contact
                      </h3><!-- /.widget-title -->
                      <ul>
                          <li><a href="#"><i class="fa fa-envelope"></i>example@domain.com</a></li>
                          <li><a href="#"><i class="fa fa-phone"></i>(+880)023985471</a></li>
                          <li><a href="#"><i class="fa fa-map-marker"></i>Road 8A, 112/B, Australia</a></li>
                      </ul>
                  </div><!-- /.widget -->
                  <!-- /.widget -->
              </div><!-- /.col-md-3 -->

              <div class="col-md-4 col-sm-6">
                  <div class="widget widget_about">
                      <h3 class="widget-title">
                          About us
                      </h3><!-- /.widget-title -->
                      <div class="widget-about-content">

                          <p>We Provide Premium Word Press, Ghost and HTML template. Our Prem tjium Templates is, develo gped in a way so that the clients find  Support. Themes are developed in a way so that  the clients find.</p>

                      </div><!-- /.widget-content -->
                  </div><!-- /.widget -->
              </div><!-- /.col-md-4 -->
          </div><!-- /.row -->
      </div><!-- /.footer-top-block -->
      <!-- footer-bottom-block -->
      <div class="footer-bottom-block">
          <div class="row">
              <div class="col-md-9">
                  <div class="bottom-content-left">
                      <p class="copyright">Copyright &copy; 2018 Taxi de volcan  -  All Right Reserved <a href="#">Taxidevolcan.com</a></p>
                  </div><!-- /.bottom-top-content -->
              </div><!-- /.col-md-9 -->
              <div class="col-md-3">
                  <div class="bottom-content-right">
                      <div class="social-profile">
                          <span class="social-profole-title">Follow Us:</span>
                          <a href="#"><i class="fa fa-instagram"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                      </div><!-- /.social-profile -->
                  </div><!-- /.bottom-content-right -->
              </div><!-- /.col-md-3 -->
          </div><!-- /.row -->
      </div><!-- /.footer-bottom-block -->
  </div><!-- /.container -->
</footer>