<div class="slider-block">
  <div class="rev_slider_wrapper">
    <div class="rev_slider carrent-slider">
      <div class="main-service-img" style="background-image: url('./assets/assets/images/slider-car/slider-bg-09.jpg');height: 591px; ">
        <div class="col-md-12 text-center">
           <div style="vertical-align: middle; margin-top: 100px;
           visibility: visible;
           left: 59px;
           top: 120px;
           z-index: 5;">
                <p class="alld">
                  All discount just for you
              </p>
              <p class="title">
                Choose your <br />
                Comfortable Taxi
                        
              </p>
              <p class="alld">
                  Best norway car hire deals!!!!!
                  
              </p>
              <br />
              <p><a class="homebtn" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact Now</a></p>
           </div>
        </div>
        <!-- <div class="col-md-6">
           <app-searchform></app-searchform>
        </div> -->
      </div>
    </div><!-- /.revolution slider -->
  </div><!-- /.slider wrapper -->
</div><!-- /.slider-block -->
<div class="vehicle-multi-border yellow-black"></div><!-- /.vehicle-multi-border -->
<div class="popular-vehicle-block pd-90 ex-pdt-102 ex-pdtm-72">
  <div class="container">
    <div class="row tb default-margin-bottom yellow-theme">
      <!-- block-title-area -->
      <div class="col-md-12 col-sm-12 text-center block-title-area tb-cell">
        <div class="heading-content style-one">
          <h3 class="subtitle">Car Rental Service</h3>
          <h2 class="title">Taxi de volcan</h2>
        </div><!-- /.heading-content-one -->
      </div><!-- /.col-md-9 -->

    </div><!-- /.row -->
    <!-- vehicle-slider -->
    <div class="row">
      <div class="col-md-4 padd-r0 padd-md-lr15">
        <div class="wheel-service-item text-center wheel-bg3">
          <div class="wheel-service-logo">
            <img src="./assets/images/ico1.png" alt="">
          </div>
          <h5>Most Affordable</h5>
          <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
        </div>
      </div>
      <div class="col-md-4 padd-lr0 padd-md-lr15">
        <div class="wheel-service-item text-center wheel-service-active wheel-bg4">
          <div class="wheel-service-logo">
            <img src="./assets/images/ico2.png" alt="">
          </div>
          <h5>Best Rated</h5>
          <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
        </div>
      </div>
      <div class="col-md-4 padd-l0 padd-md-lr15">
        <div class="wheel-service-item  text-center wheel-bg5">
          <div class="wheel-service-logo">
            <img src="./assets/images/ico3.png" alt="">
          </div>
          <h5>Excellent Service</h5>
          <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
        </div>
      </div>
    </div>
  </div><!-- /.container  -->
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="wheel-service-img" style="background-image: url(&quot;./assets/images/i1.png&quot;);">
        <img src="./assets/images/i1.png" alt="" class="wheel-img" style="visibility: hidden;">
      </div>
    </div>
  </div>
</div>
<div class="popular-vehicle-block pd-90 ex-pdt-102 ex-pdtm-72">
  <div class="container">
    <div class="row tb default-margin-bottom yellow-theme">
      <!-- block-title-area -->
      <div class="col-md-9 col-sm-8 block-title-area tb-cell">
        <div class="heading-content style-one border">
          <h3 class="subtitle">Popular Rental Servises</h3>
          <h2 class="title">Popular Taxi</h2>
        </div><!-- /.heading-content-one -->
      </div><!-- /.col-md-9 -->
      <!-- block-navigation-area -->
      <div class="col-md-3 col-sm-4 hidden-xs block-navigation-area tb-cell">
        <div class="pull-right">
          <div class="item-navigation hidden-xs">
            <a href="#" class="previous-item">
              <i class="fa fa-angle-left"></i>
            </a>
            <a href="#" class="next-item">
              <i class="fa fa-angle-right"></i>
            </a>
          </div><!-- /.item-navigation -->

          <div class="view-all-item">
            <a href="#" class="view-all-btn">View all</a>
          </div><!-- /.view-all-item -->
        </div><!-- /.pull-right -->
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
    <!-- vehicle-slider -->


    <div class="vehicle-slider slider-style-two owl-carousel" data-item="[4,2,1,1]">
      <div class="item">
        <div class="vehicle-content theme-yellow">
          <div class="vehicle-thumbnail">
            <a href="#">
              <img src="./assets/assets/images/popular/popular-01.png" alt="car-item" />
            </a>
          </div><!-- /.vehicle-thumbnail -->
          <div class="vehicle-bottom-content">
            <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
            <div class="vehicle-meta">
              <div class="meta-item">
                <span>Rent: $200 / </span> Day. - $12 / Km.
              </div>
            </div><!-- /.meta-left -->
          </div><!-- /.vehicle-bottom-content -->
        </div><!-- /.car-content -->
      </div><!-- /.item -->

      <div class="item">
        <div class="vehicle-content theme-yellow">
          <div class="vehicle-thumbnail">
            <a href="#">
              <img src="./assets/assets/images/popular/popular-02.png" alt="car-item" />
            </a>
          </div><!-- /.vehicle-thumbnail -->
          <div class="vehicle-bottom-content">
            <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
            <div class="vehicle-meta">
              <div class="meta-item">
                <span>Rent: $200 /</span> Day. - $12 / Km.
              </div>
            </div><!-- /.meta-left -->
          </div><!-- /.vehicle-bottom-content -->
        </div><!-- /.car-content -->
      </div><!-- /.item -->

      <div class="item">
        <div class="vehicle-content theme-yellow">
          <div class="vehicle-thumbnail">
            <a href="#">
              <img src="./assets/assets/images/popular/popular-03.png" alt="car-item" />
            </a>
          </div><!-- /.vehicle-thumbnail -->
          <div class="vehicle-bottom-content">
            <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
            <div class="vehicle-meta">
              <div class="meta-item">
                <span>Rent: $200 /</span> Day. - $12 / Km.
              </div>
            </div><!-- /.meta-left -->
          </div><!-- /.vehicle-bottom-content -->
        </div><!-- /.car-content -->
      </div><!-- /.item -->

      <div class="item">
        <div class="vehicle-content theme-yellow">
          <div class="vehicle-thumbnail">
            <a href="#">
              <img src="./assets/assets/images/popular/popular-04.png" alt="car-item" />
            </a>
          </div><!-- /.vehicle-thumbnail -->
          <div class="vehicle-bottom-content">
            <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
            <div class="vehicle-meta">
              <div class="meta-item">
                <span>Rent: $200 /</span> Day. - $12 / Km.
              </div>
            </div><!-- /.meta-left -->
          </div><!-- /.vehicle-bottom-content -->
        </div><!-- /.car-content -->
      </div><!-- /.item -->
    </div><!-- /.vehicle-slider -->
    <!-- block-navigation-area -->
    <div class="block-navigation-area visible-xs-block">
      <div class="view-all-item clearfix">
        <a href="#" class="view-all-btn">View all</a>
      </div><!-- /.view-all-item -->
    </div><!-- /.block-navigation-area -->
  </div><!-- /.container  -->
</div>
<div class="fun-facts-block background-overlay" style="background-image:url(./assets/assets/images/fun-fect-image.png)">
    <div class="container">
        <div class="stat">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                    <h3 class="stat-count highlight" data-form="0" data-to="250" data-speed="2500">250</h3>
                    <div class="milestone-details">Cars in Fleet</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                    <h3 class="stat-count highlight" data-form="0" data-to="25845" data-speed="2500">25845</h3>
                    <div class="milestone-details">Happy Customers</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                    <h3 class="stat-count highlight" data-form="0" data-to="245" data-speed="2500">245</h3>
                    <div class="milestone-details">Drivers</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                    <h3 class="stat-count highlight" data-form="0" data-to="525" data-speed="2500">525</h3>
                    <div class="milestone-details">Days in Business</div>
                </div>
            </div>
        </div><!-- stat -->
    </div><!-- /.container -->
</div>
    <div class="company-brand-block">
            <div class="container">
                <div class="row tb default-margin-bottom yellow-theme">
                    <!-- block-title-area -->
                    <div class="col-md-9 block-title-area tb-cell">
                        <div class="heading-content style-one border">
                            <h3 class="subtitle">Some Biggest Companys With us</h3>
                            <h2 class="title">Company with us</h2>
                        </div><!-- /.heading-content-one -->
                    </div><!-- /.col-md-9 -->
                    <!-- block-navigation-area -->
                    <div class="col-md-3 hidden-xs block-navigation-area tb-cell">
                        <div class="item-navigation nav-right">
                            <a href="#" class="previous-item">
                                <i class="fa fa-angle-left"></i>
                            </a>
    
                            <a href="#" class="next-item">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div><!-- /.item-navigation -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
    
                <div class="brand-carousel owl-carousel">
                    <a href="#" class="item">
                        <img src="./assets/assets/images/logo/logo-one.png" alt="logo" />
                    </a>
    
                    <a href="#" class="item">
                        <img src="./assets/assets/images/logo/logo-two.png" alt="logo" />
                    </a>
    
                    <a href="#" class="item">
                        <img src="./assets/assets/images/logo/logo-three.png" alt="logo" />
                    </a>
    
                    <a href="#" class="item">
                        <img src="./assets/assets/images/logo/logo-four.png" alt="logo" />
                    </a>
    
                    <a href="#" class="item">
                        <img src="./assets/assets/images/logo/logo-five.png" alt="logo" />
                    </a>
    
                    <a href="#" class="item">
                        <img src="./assets/assets/images/logo/logo-six.png" alt="logo" />
                    </a>
    
                    <a href="#" class="item">
                        <img src="./assets/assets/images/logo/logo-seven.png" alt="logo" />
                    </a>
                </div><!-- /.brand-slider -->
            </div><!-- /.container -->
        </div>
        <div class="app-block bg-gray-color mr-top-35 mr-btm-5">
                <div class="container-large-device">
                    <div class="container">
                        <div class="row tb">
                            <div class="col-md-6 tb-cell">
                                <div class="mobile-app-details">
                                    <h4 class="top-subtitle">All discount just for you</h4>
                                    <h2 class="title red-color">Our Free Mobile App</h2>
                                    <h3 class="subtitle">Search Taxi on iphone &amp; Android marker places</h3>
                                    <div class="app-location-link">
                                        <a href="#">
                                            <img src="./assets/assets/images/app-logo-one.png" alt="mobile" />
                                        </a>
                                        <a href="#">
                                            <img src="./assets/assets/images/app-logo-two.png" alt="mobile" />
                                        </a>
                                    </div><!-- /.app-location-link -->
                                </div><!-- /.mobile-app-details -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6 tb-cell">
                                <div class="app-mokeup">
                                    <img src="./assets/yext-uber-1.png" />
                                </div><!-- /.app-mokeup -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.container-large-device -->
            </div>
            <!-- <ngx-spinner
            bdColor = "rgba(51, 51, 51, 0.8)"
            size = "default"
            color = "#fff"
            type = "ball-fall"
            >
            <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner> -->

            <!-- <div class="load-wrap">
                <div class="wheel-load">
                    <img src="../assets/loader.gif" alt="" class="image">
                </div>
            </div> -->