<div class="c-toolbar u-justify-center u-mb-small">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="row">
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">354</h4>
                <span class="c-toolbar__state-title">Customers</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">54%</h4>
                <span class="c-toolbar__state-title">Target Achieved</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">13%</h4>
                <span class="c-toolbar__state-title">New Sales</span>
            </div>
            <div class="col-6 col-md-3 c-toolbar__state">
                <h4 class="c-toolbar__state-number">21</h4>
                <span class="c-toolbar__state-title">New Customers</span>
            </div>
        </div><!-- // .row -->
    </div><!-- // -->
</div><!-- // .c-toolbar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 u-ml-auto u-mb-medium">
            <div class="c-card u-p-medium" data-mh="main-graphs">
                <h4>World Wide</h4>

                <div class="c-map">
                    <div class="c-map__visual" id="vmap" style="height: 251px;"></div>

                    <div class="row">
                        <div class="col-6">
                            <ul class="c-map__labels c-map__labels--left">
                                <li class="c-map__label">
                                    <span class="c-map__country">
                                        <i class="fa fa-circle-o u-mr-xsmall u-color-success"></i> USA
                                    </span>
                                    <span class="c-map__number">$1.397</span>
                                </li>

                                <li class="c-map__label">
                                    <span class="c-map__country">
                                        <i class="fa fa-circle-o u-mr-xsmall u-color-danger"></i> Australia
                                    </span>
                                    <span class="c-map__number">$501</span>
                                </li>

                                <li class="c-map__label">
                                    <span class="c-map__country">
                                        <i class="fa fa-circle-o u-mr-xsmall u-color-warning"></i> France
                                    </span>
                                    <span class="c-map__number">$465</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-6">
                            <ul class="c-map__labels c-map__labels--right">
                                <li class="c-map__label">
                                    <span class="c-map__country">
                                        <i class="fa fa-circle-o u-mr-xsmall u-color-info"></i> Brazil
                                    </span>
                                    <span class="c-map__number">$430</span>
                                </li>

                                <li class="c-map__label">
                                    <span class="c-map__country">
                                        <i class="fa fa-circle-o u-mr-xsmall u-color-info"></i> China
                                    </span>
                                    <span class="c-map__number">$215</span>
                                </li>

                                <li class="c-map__label">
                                    <span class="c-map__country">
                                        <i class="fa fa-circle-o u-mr-xsmall u-color-primary"></i> Thailand
                                    </span>
                                    <span class="c-map__number">$201</span>
                                </li>
                            </ul>
                        </div>
                    </div><!-- // .row -->    
                </div><!-- // .c-map -->
                
            </div>
        </div>
        <div class="col-lg-6 u-mr-auto u-mb-medium">
            <div class="c-card u-p-medium" data-mh="main-graphs">

                <h3 class="u-mb-small">Bookings</h3>

                <p class="u-mb-xsmall">
                    <i class="fa fa-circle-o u-color-info u-mr-xsmall"></i> Business for Newbies

                    <span class="u-float-right u-text-mute">
                        300
                    </span>
                </p>
                <div class="c-progress c-progress--info u-mb-medium">
                    <div class="c-progress__bar" style="width:33%;"></div>
                </div>

                <p class="u-mb-xsmall">
                    <i class="fa fa-circle-o u-color-fancy u-mr-xsmall"></i> Graph UI Kit

                    <span class="u-float-right u-text-mute">
                        252
                    </span>
                </p>
                <div class="c-progress c-progress--fancy u-mb-medium">
                    <div class="c-progress__bar" style="width:78%;"></div>
                </div>

                <p class="u-mb-xsmall">
                    <i class="fa fa-circle-o u-color-success u-mr-xsmall"></i> iOS UI Kit

                    <span class="u-float-right u-text-mute">
                        149
                    </span>
                </p>
                <div class="c-progress c-progress--success u-mb-medium">
                    <div class="c-progress__bar" style="width:60%;"></div>
                </div>

                <p class="u-mb-xsmall">
                    <i class="fa fa-circle-o u-color-warning u-mr-xsmall"></i> English Webinar

                    <span class="u-float-right u-text-mute">
                        98
                    </span>
                </p>
                <div class="c-progress c-progress--warning u-mb-medium">
                    <div class="c-progress__bar" style="width:35%;"></div>
                </div>

                <div class="u-flex u-justify-between u-pt-small u-border-top">
                    <span class="u-text-mute u-text-small u-opacity-heavy">0</span>
                    <span class="u-text-mute u-text-small u-opacity-heavy">100</span>
                    <span class="u-text-mute u-text-small u-opacity-heavy">200</span>
                    <span class="u-text-mute u-text-small u-opacity-heavy">300</span>
                </div>
            </div>
        </div>
    </div>


</div><!-- // .container -->