<!-- <h1 class="header">Login with Firebase or Social Providers</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form #loginForm="ngForm" (ngSubmit)="tryLogin()">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" name="email"  [(ngModel)]="model.email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control"  [(ngModel)]="model.password" name="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>No account yet? <a href="/register">Create an account</a></p>
    </div>
  </div>
</div> -->
<div class="container register">
    <div class="row">
        <div class="col-md-4 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your free ride!</p>
        </div>
        <div class="col-md-7 register-right">
            <div class="row register-form">
                <div class="slider-form-content">
                    <h2 class="slider-form-title text-center">Sign In</h2>
                    <form #loginForm="ngForm" (ngSubmit)="tryLogin()" class="advance-search-query check-vehicle-two yellow-theme">
                      <div class="regular-search">
                        <div class="row">                
                          <div class="col-md-12">
                            <label class="text-uppercase">Enter your email</label>
                            <div class="input">
                              <i class="fa fa-envelope"></i>
                              <input type="email" placeholder="Email" name="email" [(ngModel)]="model.email" class="drop-location form-controller">
                            </div>
                            <!--/.input-->
                          </div>
                          <div class="col-md-12">
                              <label class="text-uppercase">Enter a password</label>
                              <div class="input">
                                <i class="fa fa-key"></i>
                                <input type="password" class="form-controller" name="password" [(ngModel)]="model.password" placeholder="Password">
                              </div>
                              <!--/.input-->
                            </div>
                        </div><!-- /.row -->
                      </div><!-- /.regular-search -->
                
                      <label class="error">{{errorMessage}}</label>
                
                      <div class="check-vehicle-footer text-center mr-left-0">
                        <div class="row">
                          <button type="submit" class="button">Login</button>
                
                        </div><!-- /.row -->
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                              <p>Don't have an account? <a style="color: black" [routerLink]="['/register']" routerLinkActive="router-link-active" >Create Account</a></p>
                            </div>
                          </div>
                      </div><!-- /.check-vehicle-footer -->
                    </form><!-- /.advance_search_query -->
                  </div>
            </div>
        </div>
    </div>
</div>
<br />
<ngx-spinner
size = "default"
color = "#fff"
type = "ball-clip-rotate"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>