<nav class="navbar navbar-inverse navbar-fixed-top u-mb-medium">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-uppercase" href="#">User Account</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Fair Estimates</a></li>
              <li><a href="#">Contact</a></li>
              <li><button type="button"  (click)="logout()" class="btn btn-success navbar-btn btn-circle">Sign out</button></li>
          </ul>
      </div>
    </div>
  </nav>