<div class="col-md-3 u-hidden-down@wide">
    <aside class="c-menu u-ml-medium">
        <h4 class="c-menu__title">Menu</h4>
        <ul class="u-mb-medium">
            <li class="c-menu__item">
                <a class="c-menu__link" [routerLink]="['/trips']" routerLinkActive="is-active" >
                    <i class="fa fa-trophy u-mr-xsmall"></i> My Trips
                </a>
            </li>
            <li class="c-menu__item">
                <a class="c-menu__link" [routerLink]="['/profile']" routerLinkActive="is-active" >
                    <i class="c-menu__icon fa fa-heart-o"></i> Profile
                </a>
            </li>
            <li class="c-menu__item">
                <a class="c-menu__link" [routerLink]="['/fare-estimate']" routerLinkActive="is-active" >
                    <i class="c-menu__icon fa fa-bullhorn"></i> Book new ride
                </a>
            </li>
        </ul>
    </aside>
</div>